<table class="conceptGraphic">
    <tr>
        <td class="conceptTblCell">
            <div class="imgContainer">
                <img class="artistIcon" src="img/concept_red.jpg" />
            </div>
            <p class="conceptCityName">Snaghai</p>
        </td>
        <td class="conceptTblCell">
            <div class="imgContainer">
                <img class="artistIcon" src="img/concept_blue.jpg" />
            </div>
            <p class="conceptCityName">London</p>
        </td>
        <td class="conceptTblCell">
            <div class="imgContainer">
                <img class="artistIcon" src="img/concept_yellow.jpg" />
            </div>
            <p class="conceptCityName">Amsterdam</p>
        </td>        
    </tr>    
</table>
<p class="conceptText"><%= text %></p>

